<div class="sidebar">
  <div class="sidebar__wrapper">
    <div class="sidebar__logo">
      <a class="sidebar__logo-text" href="">Gify</a>
    </div>
    <ul class="sidebar__nav">
      <li class="active">
        <a class="sidebar__nav__link" href="/dashboard">
          <i class="fas fa-desktop sidebar__nav__link-icon"></i>
          <p class="sidebar__nav__link-text">Dashboard</p>
        </a>
      </li>
      <li class="active logout">
        <a class="sidebar__nav__link" href="" ng-click="logout()">
          <i class="fas fa-sign-out-alt sidebar__nav__link-icon"></i>
          <p class="sidebar__nav__link-text">Logout</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="dashboard-container">
  <div class="main ng-class:{'toggled': toggled}">
    <nav class="navbar" ng-init="toggled = false">
      <span class="toggle" ng-click="toggled = !toggled">
            <i class="fas fa-bars"></i>
        </span>
    </nav>

    <div class="wrapper">
      <img src="https://media1.giphy.com/media/ttQ5Jj9Lhn03e/200w.gif">
      <img src="https://media1.giphy.com/media/HQ2Slp9yEkX72/200w.gif">
      <img src="https://media3.giphy.com/media/pjhdUQMV4ZRumCd1nH/200w.gif">
      <img src="https://media3.giphy.com/media/Q2ZCQyZfjn7Bm/200w.gif">
      <img src="https://media1.giphy.com/media/WtCHRSPCuqS8E/200w.gif">
      <img src="https://media0.giphy.com/media/QT4ffthFiGohi/200w.gif">
      <img src="https://media1.giphy.com/media/x1ZuiSbirFhEA/200w.gif">
      <img src="https://media0.giphy.com/media/ttQ5Jj9Lhn03e/200w.gif">
      <img src="https://media0.giphy.com/media/7cjv3It9UKAWQ/200w.gif">
      <img src="https://media0.giphy.com/media/b8q8jYO8xKWoE/200w.gif">
      <img src="https://media1.giphy.com/media/ttQ5Jj9Lhn03e/200w.gif">
      <img src="https://media1.giphy.com/media/HQ2Slp9yEkX72/200w.gif">
      <img src="https://media3.giphy.com/media/pjhdUQMV4ZRumCd1nH/200w.gif">
      <img src="https://media3.giphy.com/media/Q2ZCQyZfjn7Bm/200w.gif">
      <img src="https://media1.giphy.com/media/WtCHRSPCuqS8E/200w.gif">
      <img src="https://media0.giphy.com/media/QT4ffthFiGohi/200w.gif">
      <img src="https://media1.giphy.com/media/x1ZuiSbirFhEA/200w.gif">
      <img src="https://media0.giphy.com/media/ttQ5Jj9Lhn03e/200w.gif">
      <img src="https://media0.giphy.com/media/7cjv3It9UKAWQ/200w.gif">
      <img src="https://media0.giphy.com/media/b8q8jYO8xKWoE/200w.gif">
    </div>
  </div>
</div>
