<div class="sidebar">
  <div class="sidebar__wrapper">
    <div class="sidebar__logo">
      <a class="sidebar__logo-text" href="">Gify</a>
    </div>
    <ul class="sidebar__nav">
      <li class="active">
        <a class="sidebar__nav__link" href="/dashboard">
          <i class="fas fa-desktop sidebar__nav__link-icon"></i>
          <p class="sidebar__nav__link-text">Dashboard</p>
        </a>
      </li>
      <li class="active logout">
        <a class="sidebar__nav__link" href="" ng-click="logout()">
          <i class="fas fa-sign-out-alt sidebar__nav__link-icon"></i>
          <p class="sidebar__nav__link-text">Logout</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="dashboard-container">
  <div class="main ng-class:{'toggled': toggled}">
    <nav class="navbar" ng-init="toggled = false">
      <span class="toggle" ng-click="toggled = !toggled">
        <i class="fas fa-bars"></i>
      </span>
      <div class="search__container">
        <input class="form__input" type="text" placeholder="Search Gify" ng-model="search_gif" />
        <button class="search__btn"><i class="fas fa-search" ng-click="search_gifs(search_gif)"></i></button>
      </div>
    </nav>

    <div ng-if="gifs.length <= 0">No Gifs Found!</div>
    <div class="wrapper" ng-if="gifs.length > 0">
      <img ng-src="{{ gif.images['480w_still'].url }}" ng-repeat="gif in gifs" gif="gif">
    </div>
  </div>
</div>
